@import '~antd/dist/antd.css';

.AttendanceCheckBtns .ant-btn {
  margin: 2px;
}

.AttendanceCheckBtns .attendanceBtn[active] {
  background-color: #52c41a;
  border-color: #52c41a;
  color: white;
}

.AttendanceCheckBtns .attendanceBtn:hover:not([active]) {
  color: #52c41a;
  border-color: #52c41a;
}

.AttendanceCheckBtns .absentBtn[active] {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: white;
}

.AttendanceCheckBtns .absentBtn:hover:not([active]) {
  color: #ff4d4f;
  border-color: #ff4d4f;
}

.AttendanceCheckBtns .tardyBtn[active] {
  background-color: #faad14;
  border-color: #faad14;
  color: white;
}

.AttendanceCheckBtns .tardyBtn:hover:not([active]) {
  color: #faad14;
  border-color: #faad14;
}

.AttendanceCheckBtns .etcBtn[active] {
  background-color: #8c8c8c;
  border-color: #8c8c8c;
  color: white;
}

.AttendanceCheckBtns .etcBtn:hover:not([active]) {
  color: #8c8c8c;
  border-color: #8c8c8c;
}
