@import '~antd/dist/antd.css';

.Signup {
  margin: 24px;
}

.Signup .ant-input-group-compact .ant-form-item {
  margin-bottom: 0;
}

.Signup .ant-input-group-compact .ant-form-item .ant-input-number {
  width: 100%;
}
